{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Suspiria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h1 class="text-center">Inventory</h1>

        <div class="row mt-4" id="product_container">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">Amount: {{product.amount}}</p>
                        <p class="card-text">{{product.description}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'main:edit_product' product.pk %}" class="btn btn-primary btn-sm edit-product" data-id="{{ product.pk }}">Edit</a>
                        <a href="{% url 'main:delete_product' product.pk %}" class="btn btn-danger btn-sm delete-product" data-id="{{ product.pk }}">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button><br />
        </div>

        <div class="mt-4">
            <h5 class="text-center">Sesi terakhir login: {{ last_login }}</h5>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="amount" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function attachButtonListeners() {
            const editButtons = document.querySelectorAll('.edit-product');
            const deleteButtons = document.querySelectorAll('.delete-product');

            editButtons.forEach((button) => {
                button.addEventListener('click', (event) => {
                    const productId = event.currentTarget.getAttribute('data-id');
                    const editUrl = `{% url 'main:edit_product' 0 %}`.replace("0", productId);
                    window.location.href = editUrl;
                });
            });

            deleteButtons.forEach((button) => {
                button.addEventListener('click', (event) => {
                    const productId = event.currentTarget.getAttribute('data-id');
                    const deleteUrl = "{% url 'main:delete_product' 0 %}".replace("0", productId);
                    deleteProduct(deleteUrl, productId);
                });
            });
        }

        function deleteProduct(deleteUrl, productId) {
            if (window.confirm('Apakah Anda yakin ingin menghapus produk ini?')) {
                window.location.href = deleteUrl;
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            attachButtonListeners();
        });

        async function getProducts() {
            return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
        }
    
        async function refreshProducts() {
            const products = await getProducts()
            let htmlString = ""
    
            products.forEach((item) => {
                htmlString += `
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">${item.fields.name}</h5>
                                <p class="card-text">Amount: ${item.fields.amount}</p>
                                <p class="card-text">${item.fields.description}</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary btn-sm edit-product" data-id="${item.pk}">Edit</button>
                                <button class="btn btn-danger btn-sm delete-product" data-id="${item.pk}">Delete</button>
                            </div>
                        </div>
                    </div>
                `;
            })
    
            document.getElementById("product_container").innerHTML = htmlString;
            attachButtonListeners();
        }
    
        refreshProducts();
    
        function addProduct() {
            fetch("{% url 'main:add_product_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshProducts);
    
            document.getElementById("form").reset();
            return false;
        }
        document.getElementById("button_add").onclick = addProduct;
    </script>
    
{% endblock content %}
